In [ ]:
n,m=map(int,input().split())

In [15]:

# * * * * * 
# * * * * * 
# * * * * * 
# * * * * * 





for i in range(n+1):
    for j in range(m+1):
        print('*',end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#alternative

for i in range(n):
    print('*'*m)

****
****
****
****
****

In [ ]:
# * 
# * * 
# * * * 
# * * * *


for i in range(0,5):
    for j in range(0,i):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *

In [ ]:
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5 



a=5
for i in range(1,a+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
for i in range(1,a+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [12]:
# alternative way

for i in range(1,a+1):
    print(str(i)*i,sep=" ")

1
22
333
4444
55555

In [17]:
for i in range(5,0,-1):
    print('*'*i)

*****
****
***
**
*

In [19]:
for i in range(0,6):
    for j in range(1,6-i):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [98]:
#           * 
#         * * * 
#       * * * * * 
#     * * * * * * * 
#   * * * * * * * * * 
n=6
for i in range(1,n):
    for sp in range(n,i,-1):
        print(" ",end=" ")
    for j in range(0,2*i-1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
# * * * * * * * * * 
#   * * * * * * * 
#     * * * * * 
#       * * * 
#         * 


for i in range(5,0,-1):
    for sp in range(6,i,-1):
        print(" ",end=" ")
    for j in range(0,2*i-1):
        print("*",end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [31]:
for i in range(1,6):
    for sp in range(6,i,-1):
        print(" ",end=" ")
    for j in range(0,2*i-1):
        print("*",end=" ")
    print()
for i in range(4,0,-1):
    for sp in range(6,i,-1):
        print(" ",end=" ")
    for j in range(0,2*i-1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [36]:
for i in range(0,6):
    for j in range(0,i):
        print('*',end=" ")
    print()
for i in range(5,0,-1):
    for j in range(0,i-1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [44]:

for i in range(0,6):
    for j in range(0,i):
         print((i+j)%2,end=" ")
         
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [ ]:
n=5

In [64]:
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end="")
    for sp in range(1,2*(n-i)-1):
        print("",end=" ")
    for j in range(i,0,-1):
        print(j,end="")
    print()

1      1
12    21
123  321
12344321

In [75]:
k,n=1,5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=" ")
        k+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [92]:
for i in range(n):
    for j in range(i+1):
        print(chr(ord('A')+j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [89]:
n=5

In [95]:
for i in range(n):
    for j in range(n-i):
        print(chr(ord('A')+j),end="")
    print()

ABCDE
ABCD
ABC
AB
A

In [97]:
for i in range(n):
    for j in range(i+1):
        print(chr(ord('A')+i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E